<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Bookstore</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav>
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Path="/" Text="Home" Icon="home"/>
            <RadzenPanelMenuItem Text="Settings" Icon="settings">
                <RadzenPanelMenuItem Text="Countries" Path="settings/countries" Icon="settings"/>
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </nav>
</div>

@code {
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

}